.review_username{
    font-size: 15px;
    font-weight: bold;
    margin-left: .5rem;
}

.review_pic{
    border-radius: 5px;
}

.photo_placeholder{
    height:30px;
    width: 30px;
    background-color: gray;
    border-radius: 5px;
}

.reviewcard {
    border-radius: 5px;
}

.review_rating {
    margin-bottom: 0.5rem;
}