.reviewer-name {
    text-indent: 10px;
}

.review-entry p {
    margin: 0;
    padding: 0px 0px 10px 0px;
}

.reviews-div h2 {
    padding-bottom: 10px;
}

.review-list-fix {
    height: 25rem;
    overflow-y: scroll;
    margin-bottom: 1rem;
}