.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review {
    margin-left: 0.5rem;
}

.name-link {
    color: brown;
}

.name-link:active {
    color: rgb(54, 15, 15);
}

.name-link:hover {
    color: rgb(54, 15, 15);
}

.name-link:visited {
    color: brown;
}